$font_size1: 58px;
$font_size2: 34px;
$font_size3: 24px;
$font_title: 18px;
$font_desktop_body1: 18px;
$font_mobile_body1: 16px;
$font_body2: 14px;

$primary_color1: #3fb195;
$primary_color2: #3fb19533;
$primary_color3: #3fb19514;

$primary_text: #222222;
$secondary_text: #00000099;
$tertiary_text: #00000061;

$background_white: #00000014;
$background_gray: #fafafa;
$line_color: #00000014;

$box_shadow1: 0px 14px 24px rgba(0, 0, 0, 0.04);
