@use "../../styles/variable";
.card {
  margin: 12px;
  box-shadow: variable.$box_shadow1;
  border-radius: 16px;
  p {
    font-size: variable.$font_size3;
    font-weight: 700;
    margin: 8px;
  }
}
.wrap_img {
  img {
    width: 100%;
    object-fit: contain;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}
.wrap_information {
  line-height: 20px;
  font-size: variable.$font_body2;
  color: variable.$secondary_text;
  img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
}
.wrap_location {
}
.wrap_icon {
}
.wrap_clock {
  // line-height: 20px;
}
