@use "../../styles/variable";
@use "../../styles/mixin";
.card {
  margin: 12px;
  box-shadow: variable.$box_shadow1;
  border-radius: 16px;
  width: calc(33% - 24px);
  box-sizing: border-box;
  p {
    font-size: variable.$font_size3;
    font-weight: 700;
    margin: 8px;
  }
  @media (max-width: 1046px) {
    width: calc(50% - 24px);
  }
  @include mixin.tablet {
    width: calc(33% - 24px);
  }
  @include mixin.mobile {
    width: 100%;
  }
}
.wrap_img {
  // width: 300px;
  @media (max-width: 1046px) {
    width: 100%;
  }
  height: 200px;
  overflow: hidden;
  img {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}
.wrap_information {
  padding: 16px;
  line-height: 2.5;
  font-size: variable.$font_body2;
  color: variable.$secondary_text;
  img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
}
.wrap_location {
}
.wrap_icon {
}
.wrap_clock {
  // line-height: 20px;
}
